* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #371803;
}

body {
	font-family: 'Pretendard', 'ReciaSerifDisplay';
	font-size: 14px;
	line-height: 1.2;
	color: #371803;
	background-color: #F6F5D1;
	/* background: #F6F5D1 url(../images/baby_fukidashi.png) no-repeat 120% 100%; */

}

/* header */
header {
	width: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 100;
	background: #FEB62E;
	padding: 20px;
	box-sizing: border-box;
}

input[id="menuicon"] {
	display: none;
}

/*메뉴 아이콘 버튼 크기, 위치*/
input[id="menuicon"]+label {
	display: block;
	width: 35px;
	height: 30px;
	position: relative;
	z-index: 100;
	transition: all 0.5s;
	cursor: pointer;
}

/*메뉴 버튼 클릭했을 때 X버튼 색상*/
input[id="menuicon"]:checked+label span {
	background: #fff;
}

/*메뉴 세줄 버튼*/
input[id="menuicon"]+label span {
	display: block;
	position: absolute;
	width: 100%;
	height: 5px;
	border-radius: 30px;
	background: #333;
	transition: all 0.5s;
}

input[id="menuicon"]+label span:nth-child(1) {
	top: 0;
}

input[id="menuicon"]+label span:nth-child(2) {
	top: 50%;
	transform: translateY(-50%);
}

input[id="menuicon"]+label span:nth-child(3) {
	bottom: 0;
}

/*메뉴 버튼 클릭했을 때 세줄버튼에서 X버튼으로 바뀌는 모습*/
input[id="menuicon"]:checked+label span:nth-child(1) {
	top: 50%;
	transform: translateY(-50%) rotate(45deg);
}

input[id="menuicon"]:checked+label span:nth-child(2) {
	opacity: 0;
}

input[id="menuicon"]:checked+label span:nth-child(3) {
	bottom: 50%;
	transform: translateY(50%) rotate(-45deg);
}

/*메뉴 창*/
.sidebar {
	width: 50%;
	height: 100%;
	background: #673D22;
	position: fixed;
	top: 0;
	left: -100%;
	z-index: 99;
	transition: all 0.5s;
}

input[id="menuicon"]:checked+label+div {
	left: 0;
}

.sidebar ul {
	padding: 5em;
}

.sidebar ul li a {
	display: inline-block;
	color: #fff;
	font-size: 1.5rem;
	margin-bottom: 1em;
	text-transform: uppercase;
	position: relative;
}

.sidebar ul li a::before {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background-color: #fff;
	position: absolute;
	left: 0;
	bottom: 0;
	transform-origin: left;
	transform: scaleX(0);
	transition: all 0.7s;
}

.sidebar ul li a:hover::before {
	transform: scaleX(1);
}

/* section */
section {
	height: calc(100vh - 100px);
	margin-top: 53px;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	position: relative;
}

/* text */
.text {
	flex: 0 0 calc(30% - 60px);
	height: calc(100% - 30px);
	overflow-y: hidden;
	margin: 30px 30px 0;
}

span {
	font-size: 25px;
}

.text h1 {
	font-size: 5rem;
	padding-bottom: 0.1em;
	text-transform: uppercase;
	text-align: center;
}

.text h6 {
	font-size: 1rem;
	padding-bottom: 2em;
	color: #371803;
	/* letter-spacing: 5px;
	text-align: center;*/
}

.text h3 {
	font-size: 2rem;
	padding-bottom: 1em;
	/* font-family: 'ReciaSerifDisplay'; */
}

.text a {
	display: inline-block;
	margin: 1em 0;
	padding: 0.5em 1em;
	font-size: 1rem;
	border: 1px solid#673D22;
	color: #673D22;
	text-transform: uppercase;
	font-weight: bold;
	transition: all 1s;
}

.text a:hover {
	background-color: #673D22;
	color: #fff;
	border-radius: 50px;
}

.geopu_bang{
	margin-top: 60px;
}

/* portfolio */
.mySwiper {
	flex: 0 0 70%;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	justify-content: space-between;
	padding-bottom: 30px;
}

.swiper-slide {
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000;
	position: relative;
}

.swiper-slide::before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: 0;
}

.bg1::before {
	background: url(../images/prof_img3.jpg) no-repeat center top;
	background-size: cover;
}

.bg2::before {
	background: url(../images/boduli72.jpg) no-repeat center top;
	background-size: cover;
}

/* .bg3::before { 
	background: url(../images/3.jpg) no-repeat center top;
	background-size: cover;
}*/

.swiper-slide ul {
	margin-top: 30px;
}

.swiper-slide ul li a {
	display: block;
	color: #F9F9E5;
	text-align: center;
	border: 1px solid #F9F9E5;
	padding: 0.5em 1em;
	transition: all 1s;
	position: relative;

}

.swiper-slide ul li:not(:last-child) a {
	margin-bottom: 3px;
}

.swiper-slide ul li a:hover {
	background-color: #FBF6B1;
	color: #371803;
	border-radius: 50px;
}



.brand {
	background-color: #FBCE54;
	width: 200px;
	padding: 20px 0;
	position: absolute;
	left: 0;
	bottom: 0;
}

.brand h2 {
	font-size: 20px;
	line-height: 30px;
	padding-left: 10px;
}

.brand p {
	padding-left: 10px;
}

.swiper-horizontal>.swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
	opacity: 1 !important;
}

/* copy */
.copy {
	width: 100%;
	height: 30px;
	line-height: 30px;
	padding-left: 30px;
	box-sizing: border-box;
}

/* popup */
.popup {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
	display: none;
}

.popup_in {
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.popup_in img {
	display: block;
	width: 100%;
	max-width: 500px;
	margin: auto;
}

.popup a {
	position: absolute;
	top: 50px;
	right: 50px;
	color: #fff;
	font-size: 2rem;
}


/* about me */
.about {
	flex: 0 0 70%;
	padding: 30px;
	box-sizing: border-box;
}

.about h1 {
	font-size: 2rem;
	padding-bottom: 0.2em;
}

.about h1:not(:first-child) {
	padding-top: 2em;
}

/* resume */
.resume li {
	margin-bottom: 0.5em;
}

.resume li h2 {
	border: 2px solid #ccc;
	font-size: 1.2rem;
	padding: 1em;
	transition: all 0.5s;
}

.resume li h2 span {
	float: right;
	transform: rotate(90deg);
	transition: all 0.5s;
}

.resume .on h2 {
	border-color: #333;
	background-color: #333;
	color: #fff;
}

.resume .on h2 span {
	transform: rotate(-90deg);
}

.resume li div {
	padding: 0.5em 1em 1em 1em;
	display: none;
}

.resume li div h3 {
	font-size: 1.1rem;
	padding: 0.5em 0;
}

/* skill */
.skill {
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.skill li {
	flex: 1 1 33%;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	align-items: center;
	margin-bottom: 2em;
}

.skill .chart {
	width: 100px;
	height: 100px;
	position: relative;
	text-align: center;
	margin-right: 1em;
}

.skill h4 {
	font-family: 'ReciaSerifDisplay';
	font-size: 2.5rem;
	margin-right: 0.2em;
}

.skill h4 span {
	font-size: 1.5rem;
	vertical-align: top;
}

.skill h5 {
	font-size: 1rem;
}

/* 1300px ~ */
@media (max-width:1300px) {
	.about_section {
		height: auto;
	}

	.skill li {
		flex: 1 1 50%;
	}
}

/* 999px ~ */
@media (max-width:999px) {
	section {
		display: block;
		height: auto;
	}

	.text {
		position: static;
	}

	.mySwiper {
		width: 100%;
		height: 700px;
		padding: 30px;
		box-sizing: border-box;
	}
}


/* 610px ~ */
@media (max-width:610px) {
	.skill li {
		flex-direction: column;
		position: relative;
	}

	.skill h4 {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-58%, -70%);
		margin-right: 0;
	}

	.skill h5 {
		padding-top: 1em;
	}
}